.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
 }
img {
	display: block;
	width: 100%;
	height: auto;
	flex-grow: 1;
}
form {
	position: fixed;
	top: 0;
  left: 50%;
  transform: translate(-50%);
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff;
}
.gallery {
	margin: 20px 20px;
	padding-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  
}
.photo-card {
	display: flex;
	flex-direction: column;
	width: calc((100% - 60px) / 4);
	object-fit: cover;
}
.info {
   display: flex;
	padding-left: 10px;
}
.info-item {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: calc((100% - 30px) / 4);
	
}
.load-more {
	margin: 10px auto;
	display: block;
}
